<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		<title>IoT</title>
	</head>
	<body>
		<div class="container">
			<div class="wraper">
				<!-- Application config -->
				<div class="config_container">
					<!-- Application config welcome msg -->
					<div class="config_container_welcome">Welcome, User</div>
					<!-- Application config input data -->
					<form class="config_container_data">
						<!-- Application config active power -->
						<div class="config_container_data_ap">
							<label for="text">Active Power Trigger (kW)</label>
							<input type="text" id="app-config-active-power" value="{{ data.app_config_trigger_value }}">
						</div>
						<!-- Application config state change -->
						<input type="checkbox" id="checkbox" onchange="appSetState()" {% if data.app_state %}checked{% endif %}>
							<label for="checkbox" class="config_container_data_state">
								<div class="powersign"></div>
							</label>
						</input>
					</form>
				</div>
				<!-- Application data -->
				<div class="data_container">
					<!-- Application data status msg -->
					<div class="data_container_status">Status</div>
					<!-- Application data info -->
					<form class="data_container_data" id="data">
						<!-- Application data current power -->
						<div class="data_container_data_cp" id="current_power">
							<label for="text">Current Active Power (kW)</label>
							<input type="text" id="app-data-crt-power" value="{{ data.app_status_active_power }}"readonly>
						</div>
						<!-- Application data state -->
						<div class="data_container_data_state" id="switch_state">
							<label for="text">Switch State</label>
							<input type="text" id="app-data-switch-state" value="{{ data.app_status_switch_state }}"readonly>
						</div>
						<!-- Application data datetime -->
						<div class="data_container_data_datetime" id="datetime">
							<label for="text">Last updated</label>
							<input type="text" id="app-data-datetime" value="{{ data.app_status_datetime }}"readonly>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
